<div id="eventList">
  <label class="switch">
    <input type="checkbox" id="tabSlider" (change)="isEventList = !isEventList">
    <span class="slider round"></span>
  </label>
  <div *ngIf="isEventList === true">
    <div><h1>My Events</h1></div>
    <div>
      <app-event *ngFor="let event of this.getEventList()"
                 [event]="event" [isEventList]="this.isEventList">
      </app-event>
    </div>
    <app-add-event></app-add-event>
  </div>
  <div *ngIf="isEventList === false">
    <div><h1>My Invitations</h1></div>
    <div>
      <app-event *ngFor="let event of this.getInvitationsList()"
                 [event]="event" [isEventList]="this.isEventList">
      </app-event>
    </div>
  </div>
</div>
