<div id="eventList">
  <label class="switch">
    <input type="checkbox" id="tabSlider" (change)="switchLists()">
    <span class="slider round"></span>
  </label>
  <div *ngIf="isEventList === true">
    <div><h1>My Events</h1></div>
    <div class="alert alert-danger" role="alert" *ngIf="error === true">{{errorMsg}}</div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">From</span>
      </div>
      <input type="date" [(ngModel)]="from" class="form-control">
      <div class="input-group-prepend">
        <span class="input-group-text">To</span>
      </div>
      <input type="date" [(ngModel)]="to" class="form-control">
      <button class="btn btn-primary" (click)="filter()">Filter</button><br>
    </div>
    <div class="show">
      <button class="btn btn-primary"(click)="showAll()">Show All</button>
    </div>
    <div class="row row-cols-3">
      <app-event *ngFor="let event of this.getEventList()"
                 [event]="event" [isEventList]="this.isEventList">
      </app-event>
    </div>
    <app-add-event></app-add-event>
  </div>
  <div *ngIf="isEventList === false">
    <div><h1>My Invitations</h1></div>
    <div class="alert alert-danger" role="alert" *ngIf="error === true">{{errorMsg}}</div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">From</span>
      </div>
      <input type="date" [(ngModel)]="from" class="form-control">
      <div class="input-group-prepend">
        <span class="input-group-text">To</span>
      </div>
      <input type="date" [(ngModel)]="to" class="form-control">
      <button class="btn btn-primary" (click)="filter()">Filter</button><br>
    </div>
    <div class="show">
      <button class="btn btn-primary" (click)="showAll()">Show All</button>
    </div>
    <div class="row row-cols-3">
      <app-event *ngFor="let event of this.getInvitationsList()"
                 [event]="event" [isEventList]="this.isEventList">
      </app-event>
    </div>
  </div>
</div>
