.row{
  margin-bottom: 5%;
  margin-top: 5%;
  border: 1px solid black;
  padding: 2%;
}

.text-center{
  margin-top: calc(var(--bs-gutter-x) * .5);
  margin-bottom: calc(var(--bs-gutter-x) * .5);
}

.alert{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#replyDiv{
  margin-top: 4%;
}
