<div class="card text-center">
  <div class="card-header">{{event.date}}</div>
  <div class="card-body">
    <div *ngIf="isEventList === true">
      <div class="card-title">
        <strong>{{event.name}}</strong>
        <div>{{event.place}}</div>
      </div>
      <p class="card-text">{{event.description}}</p>
      <div class="btn-group" role="group" *ngIf="isEventList === true">
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <button class="btn btn-primary" (click)="open(content)">Edit</button>
        <div class="btn-group" role="group">
          <app-invite-users [event]="event"></app-invite-users>
        </div>
      </div>
    </div>
    <div *ngIf="isEventList === false">
      <div class="card-title">
        <strong>{{invite.event.name}}</strong>
        <div>{{invite.event.place}}</div>
        <div *ngIf="isEventList === false">Invited by: {{creator}}</div>
      </div>
      <p class="card-text">{{invite.event.description}}</p>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="invite.accepted === true">Accepted!</div>
    <button class="btn btn-primary" *ngIf="invite.accepted === true" (click)="invite.accepted = false">Change status</button>
    <div class="btn-group" role="group" *ngIf="isEventList === false && invite.accepted === false">
      <button class="btn btn-danger" (click)="decline()">Decline</button>
      <button class="btn btn-success" (click)="accept()">Accept</button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Event: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');resetInput()"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="name">Event Name:</label>
        <div class="input-group">
          <input id="name" class="form-control" type="text" name="name" [(ngModel)]="name">
        </div>
        <label for="date">Date of Event:</label>
        <div class="input-group">
          <input id="date" name="date" class="form-control" type="date" [(ngModel)]="date">
        </div>
        <label for="description">Description:</label>
        <div class="input-group">
          <textarea id="description" name="description" class="form-control" rows="5" [(ngModel)]="description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
  </div>
</ng-template>
